<?xml version="1.0" encoding="utf-8"?>
<framework-data>
  <options>
    <option id="com.atmel.avr.sf.xmegaa.common.utils.interrupt" value="true" />
    <option id="com.atmel.avr.sf.xmegaa.xmega.drivers.pmic" value="true" />
    <option id="com.atmel.avr.sf.xmegaa.xmega.drivers.ioport" value="true" />
    <option id="com.atmel.avr.sf.xmegaa.common.boards" value="true" />
    <option id="com.atmel.avr.sf.xmegaa.xmega.utils" value="true" />
    <option id="com.atmel.avr.sf.xmegaa.common.services.basic.gpio" value="true" />
    <option id="com.atmel.avr.sf.xmegaa.common.services.basic.fifo" value="true" />
    <option id="com.atmel.avr.sf.xmegaa.common.services.basic.spi_master" value="true" />
    <option id="com.atmel.avr.sf.xmegaa.xmega.drivers.tc" value="true" />
    <option id="com.atmel.avr.sf.xmegaa.xmega.drivers.rtc" value="true" />
    <option id="com.atmel.avr.sf.xmegaa.common.services.basic.clock" value="true" />
  </options>
  <files>
    <file path="src/asf/xmega/utils/assembler.h" framework="com.atmel.avr.sf.xmegaa" version="2.3.0-15278.151" source="xmega/utils/assembler.h" changed="False" />
    <file path="src/config/conf_board.h" framework="com.atmel.avr.sf.xmegaa" version="2.3.0-15278.151" source="common/applications/user_application/atxmega128a1_xplain/conf_board.h" changed="False" />
    <file path="src/asf/xmega/utils/preprocessor/stringz.h" framework="com.atmel.avr.sf.xmegaa" version="2.3.0-15278.151" source="xmega/utils/preprocessor/stringz.h" changed="False" />
    <file path="src/asf/xmega/utils/bit_handling/clz_ctz.h" framework="com.atmel.avr.sf.xmegaa" version="2.3.0-15278.151" source="xmega/utils/bit_handling/clz_ctz.h" changed="False" />
    <file path="src/asf/common/services/gpio/xmega_ioport/xmega_gpio.h" framework="com.atmel.avr.sf.xmegaa" version="2.3.0-15278.151" source="common/services/gpio/xmega_ioport/xmega_gpio.h" changed="False" />
    <file path="src/asf/xmega/boards/xplain/init.c" framework="com.atmel.avr.sf.xmegaa" version="2.3.0-15278.151" source="xmega/boards/xplain/init.c" changed="False" />
    <file path="src/asf/xmega/drivers/ioport/ioport.c" framework="com.atmel.avr.sf.xmegaa" version="2.3.0-15278.151" source="xmega/drivers/ioport/ioport.c" changed="False" />
    <file path="src/asf/common/utils/interrupt.h" framework="com.atmel.avr.sf.xmegaa" version="2.3.0-15278.151" source="common/utils/interrupt.h" changed="False" />
    <file path="src/asf/xmega/utils/preprocessor/mrepeat.h" framework="com.atmel.avr.sf.xmegaa" version="2.3.0-15278.151" source="xmega/utils/preprocessor/mrepeat.h" changed="False" />
    <file path="src/asf/xmega/utils/compiler.h" framework="com.atmel.avr.sf.xmegaa" version="2.3.0-15278.151" source="xmega/utils/compiler.h" changed="False" />
    <file path="src/asf/xmega/drivers/ioport/ioport.h" framework="com.atmel.avr.sf.xmegaa" version="2.3.0-15278.151" source="xmega/drivers/ioport/ioport.h" changed="False" />
    <file path="src/asf/xmega/utils/status_codes.h" framework="com.atmel.avr.sf.xmegaa" version="2.3.0-15278.151" source="xmega/utils/status_codes.h" changed="False" />
    <file path="src/asf/xmega/utils/preprocessor/tpaste.h" framework="com.atmel.avr.sf.xmegaa" version="2.3.0-15278.151" source="xmega/utils/preprocessor/tpaste.h" changed="False" />
    <file path="src/main.c" framework="com.atmel.avr.sf.xmegaa" version="2.3.0-15278.151" source="common/applications/user_application/main.c" changed="False" />
    <file path="src/asf/xmega/utils/assembler/gas.h" framework="com.atmel.avr.sf.xmegaa" version="2.3.0-15278.151" source="xmega/utils/assembler/gas.h" changed="False" />
    <file path="src/asf/common/services/gpio/gpio.h" framework="com.atmel.avr.sf.xmegaa" version="2.3.0-15278.151" source="common/services/gpio/gpio.h" changed="False" />
    <file path="src/asf/common/utils/interrupt/interrupt_avr8.h" framework="com.atmel.avr.sf.xmegaa" version="2.3.0-15278.151" source="common/utils/interrupt/interrupt_avr8.h" changed="False" />
    <file path="src/asf/xmega/utils/parts.h" framework="com.atmel.avr.sf.xmegaa" version="2.3.0-15278.151" source="xmega/utils/parts.h" changed="False" />
    <file path="src/asf/xmega/utils/preprocessor/preprocessor.h" framework="com.atmel.avr.sf.xmegaa" version="2.3.0-15278.151" source="xmega/utils/preprocessor/preprocessor.h" changed="False" />
    <file path="src/asf.h" framework="com.atmel.avr.sf.xmegaa" version="2.3.0-15278.151" source="./common/applications/user_application/atxmega128a1_xplain/as5_8_template/asf.h" changed="False" />
    <file path="src/asf/common/boards/board.h" framework="com.atmel.avr.sf.xmegaa" version="2.3.0-15278.151" source="common/boards/board.h" changed="False" />
    <file path="src/asf/xmega/boards/xplain/xplain.h" framework="com.atmel.avr.sf.xmegaa" version="2.3.0-15278.151" source="xmega/boards/xplain/xplain.h" changed="False" />
    <file path="src/asf/xmega/utils/progmem.h" framework="com.atmel.avr.sf.xmegaa" version="2.3.0-15278.151" source="xmega/utils/progmem.h" changed="False" />
    <file path="src/asf/xmega/drivers/cpu/ccp.h" framework="com.atmel.avr.sf.xmegaa" version="2.2.2" source="xmega/drivers/cpu/ccp.h" changed="False" />
    <file path="src/asf/xmega/drivers/cpu/xmega_reset_cause.h" framework="com.atmel.avr.sf.xmegaa" version="2.2.2" source="xmega/drivers/cpu/xmega_reset_cause.h" changed="False" />
    <file path="src/asf/xmega/drivers/cpu/ccp.s" framework="com.atmel.avr.sf.xmegaa" version="2.2.2" source="xmega/drivers/cpu/ccp.s" changed="False" />
    <file path="src/asf/xmega/drivers/spi/spi.c" framework="com.atmel.avr.sf.xmegaa" version="2.2.2" source="xmega/drivers/spi/spi.c" changed="False" />
    <file path="src/asf/xmega/drivers/spi/spi.h" framework="com.atmel.avr.sf.xmegaa" version="2.2.2" source="xmega/drivers/spi/spi.h" changed="False" />
    <file path="src/asf/common/services/spi/xmega_spi/spi_master.c" framework="com.atmel.avr.sf.xmegaa" version="2.2.2" source="common/services/spi/xmega_spi/spi_master.c" changed="False" />
    <file path="src/asf/common/services/spi/xmega_spi/spi_master.h" framework="com.atmel.avr.sf.xmegaa" version="2.2.2" source="common/services/spi/xmega_spi/spi_master.h" changed="False" />
    <file path="src/asf/common/services/spi/spi_master.h" framework="com.atmel.avr.sf.xmegaa" version="2.2.2" source="common/services/spi/spi_master.h" changed="False" />
    <file path="src/config/conf_spi_master.h" framework="com.atmel.avr.sf.xmegaa" version="2.2.2" source="common/services/spi/xmega_spi/module_config/conf_spi_master.h" changed="False" />
    <file path="src/asf/common/services/clock/xmega/sysclk.c" framework="com.atmel.avr.sf.xmegaa" version="2.2.2" source="common/services/clock/xmega/sysclk.c" changed="False" />
    <file path="src/asf/common/services/clock/sysclk.h" framework="com.atmel.avr.sf.xmegaa" version="2.2.2" source="common/services/clock/sysclk.h" changed="False" />
    <file path="src/asf/common/services/clock/xmega/osc.h" framework="com.atmel.avr.sf.xmegaa" version="2.2.2" source="common/services/clock/xmega/osc.h" changed="False" />
    <file path="src/asf/common/services/clock/xmega/pll.h" framework="com.atmel.avr.sf.xmegaa" version="2.2.2" source="common/services/clock/xmega/pll.h" changed="False" />
    <file path="src/asf/common/services/clock/genclk.h" framework="com.atmel.avr.sf.xmegaa" version="2.2.2" source="common/services/clock/genclk.h" changed="False" />
    <file path="src/asf/common/services/clock/xmega/sysclk.h" framework="com.atmel.avr.sf.xmegaa" version="2.2.2" source="common/services/clock/xmega/sysclk.h" changed="False" />
    <file path="src/asf/common/services/clock/pll.h" framework="com.atmel.avr.sf.xmegaa" version="2.2.2" source="common/services/clock/pll.h" changed="False" />
    <file path="src/asf/common/services/clock/osc.h" framework="com.atmel.avr.sf.xmegaa" version="2.2.2" source="common/services/clock/osc.h" changed="False" />
    <file path="src/config/conf_clock.h" framework="com.atmel.avr.sf.xmegaa" version="2.2.2" source="common/services/clock/xmega/module_config/conf_clock.h" changed="False" />
    <file path="src/asf/xmega/drivers/pmic/pmic.h" framework="com.atmel.avr.sf.xmegaa" version="2.2.2" source="xmega/drivers/pmic/pmic.h" changed="False" />
    <file path="src/asf/common/services/fifo/fifo.c" framework="com.atmel.avr.sf.xmegaa" version="2.2.2" source="common/services/fifo/fifo.c" changed="False" />
    <file path="src/asf/common/services/fifo/fifo.h" framework="com.atmel.avr.sf.xmegaa" version="2.2.2" source="common/services/fifo/fifo.h" changed="False" />
    <file path="src/asf/xmega/drivers/sleep/sleep.h" framework="com.atmel.avr.sf.xmegaa" version="2.2.2" source="xmega/drivers/sleep/sleep.h" changed="False" />
    <file path="src/asf/xmega/drivers/rtc/rtc.c" framework="com.atmel.avr.sf.xmegaa" version="2.2.2" source="xmega/drivers/rtc/rtc.c" changed="False" />
    <file path="src/asf/xmega/drivers/rtc/rtc.h" framework="com.atmel.avr.sf.xmegaa" version="2.2.2" source="xmega/drivers/rtc/rtc.h" changed="False" />
    <file path="src/config/conf_rtc.h" framework="com.atmel.avr.sf.xmegaa" version="2.2.2" source="xmega/drivers/rtc/module_config/conf_rtc.h" changed="False" />
    <file path="src/asf/xmega/drivers/tc/tc.c" framework="com.atmel.avr.sf.xmegaa" version="2.2.2" source="xmega/drivers/tc/tc.c" changed="False" />
    <file path="src/asf/xmega/drivers/tc/tc.h" framework="com.atmel.avr.sf.xmegaa" version="2.2.2" source="xmega/drivers/tc/tc.h" changed="False" />
    <file path="src/asf/common/services/sleepmgr/xmega/sleepmgr.c" framework="com.atmel.avr.sf.xmegaa" version="2.2.2" source="common/services/sleepmgr/xmega/sleepmgr.c" changed="False" />
    <file path="src/asf/common/services/sleepmgr/xmega/sleepmgr.h" framework="com.atmel.avr.sf.xmegaa" version="2.2.2" source="common/services/sleepmgr/xmega/sleepmgr.h" changed="False" />
    <file path="src/asf/common/services/sleepmgr/sleepmgr.h" framework="com.atmel.avr.sf.xmegaa" version="2.2.2" source="common/services/sleepmgr/sleepmgr.h" changed="False" />
    <file path="src/config/conf_sleepmgr.h" framework="com.atmel.avr.sf.xmegaa" version="2.2.2" source="common/services/sleepmgr/xmega/module_config/conf_sleepmgr.h" changed="False" />
  </files>
  <documentation help="http://asf.atmel.com/docs/latest/common/applications/user_application/atxmega128a1_xplain/doxygen/html/" />
</framework-data>